      <div class="container savebox-container">
        <div class="row">
          <!--Information about Saved Searches-->
          <div id="save-info"class="col-md-6">
              <h2>How does this work!?</h2>
              <p>The Meal Mentor application is design to provide Nutritional Facts such as Fat, Cholesterol,
              Protein,Sugar, etc. Account is required in order to utilize the application. Once registered 
              the user can save the search items with Nutritional value.</p>
          </div>
          <!-- Display Saved Searches-->
          <div id="history"class="col-md-6">

                <div><h3>Search History</h3></div>
                        {{#each searchedFoods}}
        <div>
            
          <p><a href="/nutrition/{{id}}">{{title}}</a></p>
        </div>
        {{/each}}
          </div>
        </div>
      </div>