
<main class="homepage">
  
        <div id="home-container" class="container">
          <div class="row center-home">
            <!--Information/Search-->
            <div class="col-md-6">
              <h2>How does this work!?</h2>
              <p>
              The Meal Mentor application is design to provide Nutritional Facts such as Fat, Cholesterol,
              Protein,Sugar, etc. Account is required in order to utilize the application. Once registered 
              the user can save the search items with Nutritional value. 
              </p>
            </div>
            <!-- Login/Signup Form -->
            <div class="col-md-6">
              <div class="login-form">
                <form class="action-login">
                    <h2 class="text-center">Log in</h2>
                    <div class="form-group">
                        <input type="text" class="form-control"
                        id="email-login" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password"
                        id="password-login" class="form-control" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                </form>
                <p class="text-center"><a href="/signup">Create an Account</a></p>
            </div>
            </div>
          </div>
        </div>
</main>

<script src="/js/login.js"></script>