<main class="homepage">
  
        <div id="home-container" class="container">
          <div class="row center-home">
            <!--Information/Search-->
            <div class="col-md-6">
              <h2>How does this work!?</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                rhoncus mollis nibh, eu aliquam magna eleifend in. Orci varius
                natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Praesent diam ex, pretium ut nisi eu, laoreet
                lacinia eros. Etiam lacinia lorem erat, ac hendrerit metus congue
                eu. Nulla tristique a augue eu suscipit. Etiam molestie pretium
                turpis vel ultrices. Quisque non ante non massa pharetra dictum ut
                volutpat turpis.
              </p>
            </div>
            <!-- Login/Signup Form -->
            <div class="col-md-6">
              <div class="login-form">
                <form class="action-login">
                    <h2 class="text-center">Log in</h2>
                    <div class="form-group">
                        <input type="text" class="form-control"
                        id="email-login" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password"
                        id="password-login" class="form-control" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                </form>
                <p class="text-center"><a href="/signup">Create an Account</a></p>
            </div>
            </div>
          </div>
        </div>
</main>

<script src="/js/login.js"></script>